*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

body {
    min-height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
}

.container {
    position: relative;
    background: white;
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: 10px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.accordion {
    position: relative;
    width: 350px;
    margin-left: 40px;
}

.title {
    margin-top: 20px;
    font-size: 2rem;
    text-align: center;
}

.content-accordion {
    margin-top: 35px;
    margin-right: 50px;
}

.accordion-img {
    position: relative;
    width: 85%;
}

.question {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.title-question {
    margin: 1.4rem 0rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: brown;
}

.question-btn {
    font-size: 1.5rem;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
}

.up-icon {
    display: none;
}

.answer {
    font-size: 1.2rem;
    line-height: 1.8;
    display: none;
    margin-bottom: 20px;
}

.answer p span {
    color: red;
    font-weight: bold;
}
.question-answer {
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
}

.show-text .answer {
    display: block;
}

.show-text .up-icon {
    display: inline;
}

.show-text .down-icon {
    display: none;
}

@media screen and (min-width: 992px) {
    .accordion {
        width: 992px;
    }
}
